.card {
  background-color: rgb(210, 210, 210);
  margin: 5px;
  min-width: 300px;
  min-height: 250px;
  border-radius: 2px;
  position: relative;
}

a.cardpost-link {
  text-decoration: none;
  color:inherit;
}

a.cardpost-link:hover {
  color:inherit;
}

.card-header {
  min-height: 40px;
  width: 100%;
  background-color: #469AE0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.type-content {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 8px;
  font-weight: 600;
  padding: 3px 6px;
  background-color: white;
  border-radius: 4px;
}

.card-content {
  h1, h2 {border-bottom: 1px solid rgba(0, 0, 0, 0.2);}
  h1 { font-size: 24px;}
  h2 { font-size: 20px;}
  h3 { font-size: 18px;}
  p { font-size: 14px;}
  padding: 5px 20px 5px 20px;
  font-size: 14px;
}

.edit-post {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 12px;
}
