<% if @posts.empty? %>
  <div class="text-center">
    <br><br><br>
    <h2>No posts yet!</h2>
  </div>
<% else %>
  <br>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-xs-12 col-sm-6">
        <div class="card">
          <div class="card-header">
            <%= post.title %>
          </div>
          <div class="card-content">
            <%= post.md_to_html.html_safe %>
          </div>
          <% if post.user == current_user %>
            <%= link_to 'edit', edit_post_path(post), class: 'btn btn-success edit-post' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
