<% if @posts.empty? %>
  <div class="text-center">
    <br><br><br>
    <h2>No posts yet!</h2>
  </div>
<% else %>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-xs-12 col-sm-4">
        <h3><%= post.title %></h3>
      </div>
    <% end %>
  </div>
<% end %>
