<% if @posts.empty? %>
  <div class="text-center">
    <br><br><br>
    <h2>No posts yet!</h2>
  </div>
<% else %>
  <br>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-xs-12 col-sm-6">
        <% if post.content_html.nil? && post.user == current_user %>
          <%= render 'card', post: post %>
        <% else %>
          <%= link_to post_path(post), class: 'cardpost-link' do %>
            <%= render 'card', post: post %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
